.box{
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
} 
.index-box {
    margin: 10px;
    width: 338px;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
}

.index-box>.enterprise>img {
    margin-top: 3px;
    margin-left: 3px;
    width: 332px;
    height: 80px;
}

.index-box>.enterprise>label {
    font-size: 13px;
}

.index-box>.etc-box {
    position: absolute;
    bottom: 0%;
}

.etc-box {
    width: 340px;
    display: flex;
    justify-content: space-between;
}