.wrapper{
    width: 500px;
    margin: auto;
}
.headerEnt{
    margin: auto;
    float: left;
    border-bottom: 1px solid #000;
    width: 500px;
    text-align: left;
    font-size: 15px;
    color: #888;
}
.ent{
	margin-top: 20px;
}
.headerEnt > label > b{
    font-size: 20px;
    color: #000;
}
.contentsEnt{
    /* margin-top: -17px; */
    width: 600px;
}
table{
    font-size: 13px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(170, 170, 170);
}
dl{
    margin: 0;
    margin-left: 3px;
}
dt{
    color: #777;
    width: 60px;
    float: left;
}
dd{
    width: 200px;
}
.size-dl {
	width: 290px;
}
.line{
    width: 500px;
    border-bottom: 1px solid #888;
}