.wrapper{
    width: 930px;
    margin: auto;
}
.information{
	margin-left: 10px;
}
.headerEnt{
    /* margin: auto; */
    float: left;
    border-bottom: 1px solid #000;
    width: 910px;
    text-align: left;
    font-size: 15px;
    color: #888;
}
.ent{
	margin-top: 20px;
}
.headerEnt > label > b{
    font-size: 20px;
    color: #000;
}
.contentsEnt{
    /* margin-top: -17px; */
    width: 900px;
}
table{
	width: 800px;
    font-size: 13px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(170, 170, 170);
}
dl{
    margin: 0;
    margin-left: 3px;
}
/* .mar{
	margin-left: 50px;
} */
dt{
    color: #777;
    width: 60px;
    float: left;
}
.addEnt{
	width: 360px;
}
.line{
    width: 910px;
    border-bottom: 1px solid #888;
}