table {
    text-align: center;
    margin: 0 auto;
    border-spacing: 0px;
}

td {
    width: 100px;
    height: 60px;
    border: 1px solid #888;
    background-color: rgb(241, 241, 241);
}

label {
    font-size: 20px;
}

#col3 {
    width: 610px;
    /* font-size: 20px; */
}

input[type=reset],
input[type=submit] {
    width: 360px;
    color: #fff;
    background-color: #333;
    border: none;
    font-size: 17px;
}

input[type=reset]:hover,
input[type=submit]:hover {
    background-color: #000;
    border: none;
}

input {
    width: 245px;
    height: 60px;
}

#text {
    height: 230px;
    width: 610px;
    resize: none;
}