* {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.set, .headerEnt, .entComent, .setComent {
	border-radius: 5px;
	width: 500px;
	margin: auto;
}

.set {
	border: 1.5px solid rgb(240, 240, 240);
}

.declaration {
	margin-top: 23px;
}

.tit-box, .pro-box {
	display: flex;
	justify-content: space-between;
}

.profile>img {
	border: .7px solid #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.profileText {
	font-size: 13px;
	margin-left: 70px;
	margin-top: -35px;
}

.comment>a {
	font-size: 30px;
	margin-top: 10px;
}

.entContents {
	/* border: 1px solid red; */
	margin-top: 10px;
}

.br {
	height: 10px;
}

.entComent {
	margin-top: 25px;
	height: 76px;
}

textarea {
	width: 415px;
	height: 70px;
	resize: none;
	border-radius: 5px 0 0 5px;
}

input[type=submit] {
	float: right;
	width: 85px;
	height: 70px;
	background-color: #777;
	border: none;
	color: #fff;
	border-radius: 0 5px 5px 0;
}

.entComent:hover input[type=submit] {
	background-color: #000;
}

.setCom {
	display: flex;
	margin-top: 30px;
}

.comProfileText {
	margin-top: 5px;
	margin-left: 10px;
}

.setTitCom {
	width: 800px;
	margin-top: 5px;
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
}

.comProfileText {
	font-size: 13px;
}

.dayCom {
	font-size: 13px;
	color: #888;
}

.setCom>img {
	height: 25px;
	width: 25px;
	border: .7px solid #000;
	border-radius: 50%;
}

.setComent {
	/* height: 35px; */
	border-bottom: 1px solid rgb(240, 240, 240);
}

#ityUpdateText{
	resize: none;
	width: 480px;
}

.titCom {
	width: 370px;	
}
.titCom > label {
	font-size: 14px;
}
#updateSubmit {
	float: none;
	border: none;
	color: #555;
	background-color: #fff;
	width: 50px;
	height: 25px;
	text-align: center;
}
#updateSubmit:hover {
	color: #000;
	text-decoration: underline;
}