/* header and footer css */
.mb-md-0{
    margin-left: 50px;
}
p {
    font-size: 50px;
}
a{
	text-decoration: none;
	color: #555;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
.hov:hover{
    text-decoration: underline !important;
}
.text-end > .me-2{
    border: 1px solid #000;
    color: #000;
}
.text-end > .btn-primary{
    background-color: rgb(78, 78, 78);
    color: #fff;
    border: none;
}

.text-end > button:hover{
    background-color: #000;
    color: #fff;
}

.form-control {
    width: 450px;
}

.d-flex>a {
    font-size: 20px;
    color: #000;
}

/* pop up _ search css */

.search-box-popUp {
    position: relative;
    border-radius: 5px;
    top: 7px;
    width: 270px;
    font-size: 15px;
    /* text-align: center; */
    border: 1px solid #000;
}

.search-box-popUp:active input[type=submit],
.search-box-popUp:hover input[type=submit] {
    background-color: #000;
}
form{
    margin: auto;
}
.search-box-popUp input {
    border: none;
    /* font-size: 17px; */
}

.search-box-popUp input[type=search] {
    width: 200px;
    outline: none;
}

.search-box-popUp input[type=submit] {
    border-radius: 0 2px 3px 0;
    width: 42px;
    background-color: #555;
    color: #fff;
    float: right;
}

/* pop up _ contents css */
.contents-box {
    margin: 0 auto;
    margin-top: 15px;
    width: 381.782px;
    height: 240px;
    border-radius: 7px;
    border: 1px solid #000;
}

.contents-box p {
    font-size: 12px;
}