a {
	text-decoration: none;
	color: #000;
}
.search-box-popUp input[type=search] {
    width: 195px;
}
.search-box-popUp #heaberSub {
	width: 39px;
}
a:hover {
	text-decoration: underline;
}

.wrapper {
	margin: auto;
	width: 930px;
	border-radius: 5px;
}

.uploadAnn {
	/* margin: auto; */
	margin-top: 10px;
	width: 920px;
}

.head {
	border-bottom: 1px solid #888;
	display: flex;
	justify-content: space-between;
}

.company_name {
	font-size: 13px;
	color: #777;
}

.title_ann_upload {
	font-size: 20px;
}

dl {
	width: 280px;
}
.up {
	width: 550px
}

dt {
	float: left;
	margin-right: 5px;
}

.wrapper_ {
	width: 930px;
	margin: auto;
}

input {
	margin-left: 5px;
	width: 200px;
}

textarea {
	resize: none;
	margin-left: 5px;
	width: 200px;
	height: 60px;
}

#sub {
	border: none;
	background-color: rgb(78, 78, 78);
	color: #fff;
	margin-top: 10px;
	/* margin: auto; */
	width: 150px;
}

#sub:hover {
	background-color: #000;
}

.sup {
	width: 930px;
	margin: auto;
}

.table2 {
	/* margin: auto; */
	margin-left: -30px;
	font-size: 17px;
	border-collapse: separate;
	border-spacing: 30px 3px;
}

.uploadCom{
	 margin: auto;
    width: 930px;
    border-radius: 5px;
}
.tabCom {
	margin-top : 10px;
	margin-left: -30px;
	font-size: 17px;
	border-collapse: separate;
	border-spacing: 30px 8px;
}
.comBu{
	margin: auto;
	width: 550px;
}
#comSub{
	margin: auto;
	width: 300px;
	height: 50px;
	background-color: #555;
	color: #fff;
	border: none;;
}
#comSub:hover{
	background-color: #000;
}
#comText {
	resize: none;
	width: 550px;
	height: 170px;
}

.contentsAnn > table > dl {
	width: 100px;
}
.contentsAnn > table {
	font-size: 13px;
	color: #333;
}
dd, dd > a{
	color: #888;
}
dd:hover {
	color: #555;
}