body{
    background-color: rgb(241, 241, 241);
}
*{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
.wrapper {
    background-color: #fff;
    margin: auto;
    width: 930px;
    border-radius: 5px;
}
.uploadAnn{
    margin: auto;
    margin-top: 10px;
    width: 930px;
}
.head{
    border-bottom: 1px solid #888;
    display: flex;
    justify-content: space-between;
}
.company_name{
    font-size: 13px;
    color: #777;
}
.title_ann_upload{
    font-size: 20px;
}
/* .contentsAnn{
    width: 750px;
} */
dl{
    width: 230px;
}
dd{
    font-size: 14px;
    color: #777;
}
dt{
    float: left;
    margin-right: 10px;
}
.sup{
    border: 1px solid #000;
    width: 930px;
    margin: auto;
}
table, .tab{
    font-size: 17px;
    border-spacing: 20px 6px;
}
table{
    margin: auto;
}

h2{
    margin-left: 20px;
}

textarea{
    resize: none;
    width: 410px;
}